.attention_box {
	padding: 1.5em 3em;
	background-color: #ffcccc;
	border-radius: 1em;
	border: 1px solid #f96;
	margin-left: 20px;
	margin-right: 20px;
	.attention_box-heading {
		font-weight: bold;
		margin: 1em 0;
		font-size: 120%;
	}
}
.attention_box :first-child {
  margin-top: 0;
}
.attention_box :last-child {
  margin-bottom: 0;
}
